name: My second workflow

on: 
  push:
    branches:
      - main

jobs:

    build:

         runs-on: ubuntu-latest

         steps:

          - name: checkout repository
            uses: actions/checkout@v3

          - name: Use node.js 18
            uses: actions/setup-node@v3
            with:
               node-version: 18

          - name: print message
            run: echo "Hello world"
