name: Scheduled Workflow
on:
  schedule:
     # * is a special character in YAML so you have to quote this string
    - cron: '0  ***  *

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello, World!"